openapi: 3.0.3
info:
  title: Sales sparrow connect API's
  description: Following api's will be called from the sales sparrow application
  version: '1.0'
servers:
  - url: https://sales.truesparrow.com/api
paths:
  /v1/auth/salesforce/redirect-url:
    get:
      description: Api will return the redirect url 
      parameters:
          - name: redirect_uri
            in: query
            description: Redirect uri
            required: true
            schema:
              type: string
          - name: state
            in: query
            description: State
            required: false
            schema:
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  url:
                    type: string
                    example: ''
  /v1/auth/salesforce/connect:
    post:
      description: Api to connect salesforce user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  example: ''
                redirect_uri:
                  type: string
                  example: ''
              required:
                - code
                - redirect_uri
      responses:
        '200':
          description: JSON Response
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  current_user:
                    type: object
                    properties:
                      id: 
                        type: integer
                        example: 1000
                      name:
                        type: string
                        example: 'sample user'
                      email:
                        type: string
                        example: 'sampleuser@gmail.com'
                        
  /v1/users/current:
    get:
      description: Api will return current user entity
      responses:
        '200':
          description: JSON Response
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  current_user:
                    type: object
                    properties:
                      id: 
                        type: integer
                        example: 1000
                      name:
                        type: string
                        example: 'sample user'
                      email:
                        type: string
                        example: 'sampleuser@gmail.com'
  
  /v1/auth/logout:
    post:
      description: Api to logout user
      responses:
        '200':
          description: JSON Response
          content:
            application/json:
              schema:
                type: object
                description: ''
                example: {}

  /v1/auth/disconnect:
    post:
      description: Api to disconnect user
      responses:
        '200':
          description: JSON Response
          content:
            application/json:
              schema:
                type: object
                description: ''
                example: {}   